<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="popup">
        <div class="popup-box">
            <h2>The email address already exists </h2>
        </div>
    </div>
    
    
    
    
    
    
    
    
    <div class="box">
    
        <form action="" method="post">
            <div class="short_text">
                <label for="fullname">Enter your full name *</label>
                <input type="text" name="name" id="fullname" required value="<%if (typeof user != "undefined"){%><%=user.name%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="email">Enter your email id *</label>
                <input type="text" name="email" id="email" pattern=".+@.+\..+" required value="<%if (typeof user != "undefined"){%><%=user.email%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="gradyear">Enter your graduation year *</label>
                <input type="text" name="gradyear" id="gradyear" pattern="20[0-9][0-9]" required value="<%if (typeof user != "undefined"){%><%=user.gradyear%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="college">Enter your college *</label>
                <input type="text" name="college" id="college" required value="<%if (typeof user != "undefined"){%><%=user.college%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="major">Enter your major *</label>
                <input type="text" name="major" id="major" required value="<%if (typeof user != "undefined"){%><%=user.major%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="job">Enter you occupation</label>
                <input type="text" name="job" id="job" value="<%if (typeof user != "undefined"){%><%=user.job%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="country">Enter your country of residence *</label>
                <input type="text" name="country" id="country" required value="<%if (typeof user != "undefined"){%><%=user.country%><%}%>" >
            </div>
    
            <div class="short_text">
                <label for="city">Enter your city of residence *</label>
                <input type="text" name="city" id="city" required value="<%if (typeof user != "undefined"){%><%=user.city%><%}%>" >
            </div>
    
            <input type="submit" value="Submit">
    
            <div class="checked short_text">
                <label for="mentor">Do you want to be a mentor</label>
                <input type="checkbox" name="mentor" id="mentor" <%if (typeof user == "undefined"){%>checked<%} else if(!user.mentor){%>checked<%}%>>
            </div>
            

        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                
                $("body").on("click", () => {
                    $(".popup").hide()
                });

                let alert_msg = "<%=locals.alert%>"

                if (1 === 1){
                    $(".popup").show()
                }
            });
        
        </script>
</div>
</body>
</html>