<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="styles/main/results.css">
    <link rel="stylesheet" href="styles/main/navbar.css">

    <%- include("partials/background")%>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="scripts/search_bar.js"></script>

</head>
<body>
    <%- include("partials/navbar");%>

    <div class="results">
            <%for (i in values){%>
                <div class="box">
                    <h1><b><u><%-(values[i]["name"])%></u></b></h1>

                    <div class="identifier">Went to college in <u><%= values[i]["college"] %></u> </div>
                    <div class="identifier">Graduated in <u><%= values[i]["gradyear"] %></u> </div>
                    <div class="identifier">Living in <u><%= values[i]["country"] %></u> in the city of <u><%= values[i]["city"] %></u></div>
                    <div class="identifier">Majored in <u><%= values[i]["major"] %></u></div>
                    <div class="identifier">
                        <% if(values[i]["job"] !== ""){ %> Curretly employed as a <u><%=values[i]["job"] %></u> <% } %>
                    </div>
                    <div class="identifier">
                        <% if(values[i]["mentor"] === 0){ %>Does not want to be a mentor
                        <% } else{ %> Email is <u><%=values[i]["email"] %></u> <% } %>
                    </div>
                </div>
            <%} %>

    </div>

    <script>let val = "<%=values%>";</script>

</body>
</html>